@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: regular400;
  src: url("/public/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: semiBold600;
  src: url("/public/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: medium;
  src: url("/public/fonts/Inter-Medium.ttf");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 212, 201,100%);
}
header{
  font-weight: 600;
  line-height: 150%;
  font-size: 1rem;
}
.roundAboutArrow{
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  border: 0.0625rem ridge black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.captionItalic{
  color: #B0907A;
  font-style: italic;
}
