@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: regular400;
  src: url("/public/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: semiBold600;
  src: url("/public/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: medium;
  src: url("/public/fonts/Inter-Medium.ttf");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
scroll-behavior: smooth;
}
body {
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 212, 201,100%);
}
header{
  font-weight: 600;
  line-height: 150%;
  font-size: 1rem;
}
.roundAboutArrow{
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  border: 0.0625rem ridge #665F55;
  display: flex;
  align-items: center;
  justify-content: center;
}
.captionItalic{
  color: #B0907A;
  font-style: italic;
}
.sliderList{
  display: flex;
  gap: 0.75rem;
  padding-top: 0.9375rem;
}
.sliderLine{
      height: 0.3125rem;
    width: 2.5rem;
    background-color: black;
    border-radius: 0.3125rem;
}
.firstImg, .fourImg{
  width: 41.25rem;
  height: 36.875rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 1.3125rem;
}
.imgList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.secondImg, .thirdImg{
  height: 26.875rem;
  width: 41.25rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 1.3125rem;
}
.blockImg{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.imgList  img{
  transition: 3s;
  scale: 1.1;
}
.buttonMobile{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #665F55;
  transition: 3s;
}
.buttonMobText{
left: 12px;
position: relative;
top: -4px;
}
.buttonStore{
  display: flex;
position: relative;
left: -23px;

}
.cyrcle{
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 0.0625rem ridge rgba(225, 212, 201, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactItem{
  display: flex;
  gap: 0.5625rem;
  border-block-end: 3px solid #665F55;
  transition: 3s;
  width: fit-content;
}
.contactItem:hover{
  border-block-end: 3px solid rgba(225, 212, 201, 1);
  transition: 3s;
}
.cyrcle:hover{
  background-color: #E1D4C9;
  transition: 3s;
}
.cyrcle:hover>img{
  color: black;
  filter: invert(1);
  transition: 3s;
}
.buttonMobile:hover{
  background-color: #665F55;
  color: #E1D4C9;
  transition: 3s;
}
.buttonMobile:hover svg path  {
  fill: #E1D4C9;
  transition: 3s;
}
.roundAboutArrow:hover{
  background-color: #665F55;
  transition: 3s;
}
.arrow:hover path{
stroke: #E1D4C9;
transition: 3s;
}
.imgList img:hover{
  scale: 1;
  transition: 3s;
}
.navItem{
  border-block-end: 3px solid rgba(225, 212, 201, 1);
  transition: 3s;
}
.navItem:hover{
  border-block-end: 3px solid black;
  transition: 3s;
}
.buttonMenuIcon:hover svg {
  display: block;
  transition: 3s;
}
.wrapper{
  margin: 0 auto;
  max-width: 85rem;
}
.coffeeItem{
  width:19.375rem ;
  height: 31.625rem;
  border: 1px solid #C1B6AD;
  border-radius: 2.5rem;
}

input{
  display: none;
}
label input:checked+.menuItem{
  background: #665F55;
  
}
label{
cursor: pointer;
overflow: hidden;
}
:checked+div>div{
  background: #E1D4C9;
  transition: 1s;
}
.coffeeItemImg>img{
  scale: 1.1;
}
.coffeeItemImg{
width: 19.375rem;
height: 19.375rem;
border-radius: 2.5rem;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}